*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

html{
scroll-behavior:smooth;
}

body{

background:#071426;

color:white;

}

nav{

display:flex;

justify-content:space-between;

padding:25px 8%;

background:#09111f;

position:sticky;

top:0;

}

.logo{

font-size:28px;

font-weight:bold;

}

nav a{

color:white;

margin-left:25px;

text-decoration:none;

}

header{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

background:
linear-gradient(
135deg,
#1d4ed8,
#7c3aed
);

}

header h1{

font-size:70px;

}

header h2{

margin-top:15px;

font-size:32px;

}

header p{

margin-top:25px;

max-width:700px;

font-size:20px;

}

button{

margin-top:35px;

padding:16px 35px;

font-size:18px;

border:none;

border-radius:15px;

cursor:pointer;

}

section{

padding:90px 10%;

}

h2{

margin-bottom:35px;

font-size:40px;

}

.grid{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(180px,1fr)
);

gap:20px;

}

.card{

background:#13233b;

padding:35px;

border-radius:20px;

text-align:center;

font-size:22px;

}

.project{

background:#13233b;

padding:35px;

margin-bottom:25px;

border-radius:20px;

}

ul li{

margin:18px;

font-size:20px;

}

footer{

padding:30px;

text-align:center;

background:#09111f;

}

@media(max-width:768px){

header h1{

font-size:48px;

}

header h2{

font-size:24px;

}

nav{

flex-direction:column;

gap:15px;

}

}